body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
}
.rating-container{
    text-align: center;
    background:white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.stars{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 40px;
    cursor: pointer;
    color: gray;
}
.star:hover,
.star.active{
    color: gold;
}